{% extends "ip_base.html" %}

{% block content %}
    <h1 class="username"></h1>
    <form method="post" action="/details/{{rbs}}">
        <br>
        {% if current_status != 0 %}
            <b><label>Текущий статус услуги:</label></b>
            {% if 'ON' in current_status %}
                <p class="status-on">{{current_status}}</p>
                <div class="button_search">
                    <button class="search_delete" type="submit" value="{{rbs}}" name="delete_b">
                        Отключить услугу
                    </button>
                </div>
            {% else %}
                <p class="status-off">{{current_status}}</p>
            {% endif %}
        {% endif %}
        <b><label for="text_memo">История подключения услуги по карте {{mask}}:</label><br></b>
        <div class="scroll-table">
            {% if data %}
                <table>
                    <thead>
                        <tr>
                            <th>Дата, время</th>
                            <th>Маска карты</th>
                            <th>RQUID/Пользователь</th>
                            <th>CARD ID</th>
                            <th>Номер телефона</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data %}
                            <tr>
                                <td>{{element[0]}}</td>
                                <td>{{element[1]}}</td>
                                <td>{{element[2]}}</td>
                                <td>{{element[3]}}</td>
                                <td>{{element[4]}}</td>
                                <td class="status-{{element[5] | lower}}">{{element[5]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <b><label class="not_conn">Услуга не подключена</label><br></b>
            {% endif %}
        </div>
    </form>
{% endblock %}
