{% extends "ip_base.html" %}

{% block content %}
    <h1 class="username"></h1>
    <form method="post" action="/search_cards">
        <label id="itn_search_label" for="ITN">Введите Идентификационный номер паспорта:</label>
        <div class="button_itn">
            <input class="card_id" type="text" value="{{ITN}}" id="ITN" name="ITN"/>
            <div class="button_search">
                <button class="search_itn" id="b_ITN" type="submit" value="ITN" name="search_itn">Поиск карт</button>
            </div>
            <div id="loading-spinner" class="loading-spinner">Загрузка...</div>
        </div>
        <b><label class="lab" for="text_memo">Карты клиента:</label><br></b>
        <div class="scroll-table">
            {% if data == "Empty" %}
                <b><label class="lab error-message">Карты не найдены</label><br></b>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Карта</th>
                            <th>ФИО клиента</th>
                            <th>ITN</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if data != '' %}
                            {% for element in data %}
                                <tr>
                                    <td><a href="/details/{{ element[3] }}">{{element[0]}}</a></td>
                                    <td>{{element[1]}}</td>
                                    <td>{{element[2]}}</td>
                                    <td class="status-{{element[4] | lower}}">{{element[4]}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </form>
{% endblock %}
